apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    app.kubernetes.io/name: clusterrole
    app.kubernetes.io/instance: manager-role
    app.kubernetes.io/component: rbac
    app.kubernetes.io/created-by: inference-budget-controller
    app.kubernetes.io/part-of: inference-budget-controller
    app.kubernetes.io/managed-by: kustomize
  name: manager-role
rules:
  - apiGroups:
      - ""
    resources:
      - events
    verbs:
      - create
      - patch
  - apiGroups:
      - ""
    resources:
      - pods
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - apps
    resources:
      - deployments
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - apps
    resources:
      - deployments/status
    verbs:
      - get
  - apiGroups:
      - inference.eh-ops.io
    resources:
      - inferencemodels
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - inference.eh-ops.io
    resources:
      - inferencemodels/finalizers
    verbs:
      - update
  - apiGroups:
      - inference.eh-ops.io
    resources:
      - inferencemodels/status
    verbs:
      - get
      - patch
      - update
